{% extends 'base.html.twig' %}

{% block title %}Admin Canopées{% endblock %}

{% block body %}
    <a href="{{ path('admin') }}" class="btn btn-primary">Accéder à l'administration</a>
{% endblock %}
